<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
  </head>
  <body>
    <header class="container">
      <nav>
        {{ page.primary_menu }}
      </nav>
    </header>
    {% if node.bundle != 'nfc_profile' %}
    {# --- BEGIN THE HERO BANNER --- #}
    {# We inline the background image so we can use the Twig directory path token #}
    <div class="hero-banner" style="background-image: url('/{{ active_theme_path() }}/images/me_presentation.png');">
      <div class="hero-banner__overlay">
        <div class="hero-banner__content-wrapper">
          <h1 class="hero-banner__title">Michael Ocana</h1>
          <p class="hero-banner__subtitle">Technical Lead & Drupal Specialist</p>
        </div>
      </div>
    </div>
    {# --- END THE HERO BANNER --- #}
    {% endif %}
    <main class="container">
      {{ page.content }}
    </main>

    <footer>
      <p>© {{ "now"|date("Y") }} {{ site_name }}</p>
    </footer>

    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>